body {
	font-family: Poppins !important;
}

.background1 {
	background-color: #0a3b0a !important;
	box-shadow: 1px 1px 15px black !important;
	margin-bottom: 0px !important;
	border-bottom-style: solid !important;
	border-color: #2e372e !important;
	border-bottom-width: 2px !important;
}
.wrapper {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}
.wrapper2 {
	min-height: 100vh;
	background-repeat: repeat;
	display: flex;
}


.textbase {
	color : white !important;
}

.fond30 {
	background-color: #0a3b0a !important;
	padding-bottom: 20px;
	text-align: center;
	font-size: 20px;
	font-family: Poppins !important;
	box-shadow: 1px 1px 15px black;
}
.lien {
	color: white !important;
	text-decoration: none;
}
.lien:hover {
	color: black;
}


footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-top-width: 2px;
	border-top-style:solid;
}
article {
	margin: 20px;
}

.b1 {
	font-size: 25px;
	color: white !important;
	font-weight: bold !important;
	border-color: #FFFFFF !important;
	border-right-style: solid !important;
	border-right-width: 3px !important;
	padding-right: 10px !important;
}

.p1 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	border-bottom-style: solid;
	border-color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom-width: 4px;
	color: #00ad5f;
}
.p2 {
	font-size: 15px;
	color: white;
}

.p3 {
	color: white;
}

.annonce {
}

.d1 {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10px;
	margin-top: 10px;
	flex:1;
	background-color : #FFFFFF;
	box-shadow:1px 1px 10px black;
}

.test {
	border-color: #FFFFFF;
	border-bottom-style: solid !important;
	border-bottom-width: 2px !important;
}

.p4 {
	font-size: 40px;
	border-bottom-style: solid;
	border-color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom-width: 4px;
	color: #00ad5f;
	width: 40%;
}

.menu, .sousmenu{
	text-align:center;
}
.menu{
	list-style: none;
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: rgba(52, 58, 64, 0.1);
	border-radius: 5px;
}
.sousmenu{
	height:100%;
	width: 100%;
	background: white;
}
.menu a{
	display:block;
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #343a40;

}
.menu a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #00ad5f;
}

.sousmenu a{
	display:block;
	width:85%;
	height:100%;
	margin-left: 7.5%;
	margin-top: 7px;
	color:#343a40;
	font-size: 20px;
	font-weight:bold;
	text-decoration:none;
	background-color: rgba(10, 10, 10, 0.15);
	border-radius: 5px;

}
.menu a:hover, .sousmenu a:hover, .menu a:active, .sousmenu a:active, .menu a:focus, .sousmenu a:focus{
}
.menu:hover{
	background-color: rgba(10, 10, 10, 0.05);
}

.div {
	width:95%;
	margin-left: 2.5%;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 5px;
	border-color: #00ad5f;
}


.btnAccueil {
	background-color:#000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	width: 10vh !important;
	height: 10vh !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5vh;
}
.btnAccueil:hover {
	color:#ffffff;
	text-decoration: none;
	box-shadow: 0px 10px 7px -10px white;
}

input:checked + div {
	display: block;
}
.o {
	position: absolute;
	left: -9999px;
}

.test2 {
	min-height: 100vh !important;
	width: 10.2vh !important;
	background-color: #000 !important;
	position: relative;
	float: left;
	display: none;
}

.test3 {
	height: 50px;
	width: 50px;
	background-position: center;
	background-size: 60px;
}

.side {
	color: #fff;
	text-align: center;
	margin-right: 2px;
	border-bottom: solid;
	border-color: white;
	border-width:3px;
}

