
.background1 {
	background-color: #0f772a !important;

}

.textbase {
	color : white !important;
}

.fond30 {
      background-color: #0f772a;
      color: white;
      display: block;
      padding-bottom: 20px;
      text-align: center;
    }
.lien {
      color: white;
      text-decoration: none;
    }

footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.b1 {
	font-size: 25px;
	color: white !important;
	font-weight: bold !important;
}

.p1 {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.d1 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-width:2px;
 	border-style:solid;
 	border-color:#15540f;
}