html,
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #40424a;
    margin: 0;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}


h2 {
    font-size: 48px;
    color: #00ad5f;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 18px;
    color: #808181;
    line-height: 1.8;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}


.spad {
    height: 100%;
}

.section-title h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 110px;
    padding-bottom: 2px;
    line-height: normal;
}

.section-title h2:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #40424a;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-section {
    background: #f2f7f8;
}

.hero-text {
    margin-bottom: 80px;
}

.hero-text h2 {
    font-size: 170px;
    line-height: normal;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 33px;
    line-height: 1.3;
}

.hero-image {
}

.hero-info h2 {
    margin-bottom: 30px;
}

.hero-info ul {
    list-style: none;
}

.hero-info ul li {
    font-size: 24px;
    color: #808181;
    margin-bottom: 15px;
}

.hero-info ul li span {
    color: #40424a;
    display: inline-block;
    min-width: 220px;
}

.hero-info ul li:last-child {
    margin-bottom: 0;
}



/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1730px) {
    .home-two-style .social-section .social-link-warp:after {
        display: none;
    }
}

@media only screen and (max-width: 1600px) {
    .hero-text h2 {
        font-size: 120px;
    }
}

@media only screen and (max-width: 1450px) {
    .home-five-style .header-section {
        position: relative;
        background: #f2f7f8;
    }
    .home-six-style .header-section {
        position: relative;
        background: #009fff;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1200px) {
    .home-five-style .header-section {
        position: relative;
        background: #f2f7f8;
    }
    .container-warp {
        min-width: 80%;
        margin-left: 10%;
    }
    .hero-info ul li span {
        min-width: 180px;
    }
    .portfolio-item .port-pic {
        height: 310px;
    }
    .home-three-style .header-section {
        padding: 50px 30px;
    }
    .home-three-style .main-left-area {
        padding-right: 30px;
        padding-left: 30px;
    }
    .home-three-style .main-right-area {
        padding-left: 100px;
    }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio-warp {
        padding: 0;
    }
    .home-three-style .header-section {
        padding: 50px 15px;
    }
    .home-three-style .main-left-area {
        padding-right: 15px;
        padding-left: 15px;
    }
    .home-three-style .main-right-area {
        padding-left: 50px;
    }
    .home-three-style .main-right-area {
        padding-left: 100px;
    }
    .portfolio-item .port-pic {
        height: 310px;
    }
    .portfolio-item {
        margin-bottom: 30px;
    }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio-warp {
        padding: 0;
    }
    .hidden-md {
        display: none !important;
    }
    .icon-box {
        margin-right: 30px;
    }
    .social-section .social-links {
        display: block;
        text-align: center;
    }
    .social-link-warp:after {
        display: none;
    }
    .portfolio-item {
        margin-bottom: 30px;
    }
    .home-three-style .header-section {
        position: relative;
        background: #f2f7f8;
    }
    .home-three-style .main-left-area {
        padding-top: 0;
    }
    .home-three-style .main-left-area,
    .home-three-style .header-section,
    .home-three-style .main-right-area,
    .home-four-style .main-left-area,
    .home-four-style .header-section,
    .home-four-style .main-right-area {
        padding-right: 30px;
        padding-left: 30px;
    }
    .home-five-style .header-section,
    .home-six-style .header-section {
        padding: 50px 0;
    }
    .info-section .hero-info ul li span {
        color: #9c9b9b;
    }
    .hero-info ul li {
        margin-bottom: 30px;
    }
    .hero-info ul li span {
        display: block;
    }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
    .icon-box {
        margin-right: 30px;
        text-align: left;
    }
    .hero-text h2 {
        font-size: 80px;
    }
    .portfolio-warp {
        padding: 0;
    }
    .hidden-md {
        display: none !important;
    }
    .resume-list {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }
    .review-slider {
        padding-left: 0;
    }
    .review-slider .owl-dots {
        position: relative;
        left: 0;
        top: 70px;
    }
    .review-slider .owl-dots .owl-dot {
        display: inline-block;
        margin-right: 15px;
    }
    .portfolio-item {
        margin-bottom: 30px;
    }
    .fact-box {
        margin-bottom: 30px;
    }
    .header-section {
        padding: 50px 0;
    }
    .social-section .social-links {
        display: block;
        text-align: center;
    }
    .home-three-style .header-section {
        position: relative;
        background: #f2f7f8;
    }
    .home-three-style .main-left-area {
        padding-top: 0;
    }
    .home-three-style .main-left-area,
    .home-three-style .header-section,
    .home-three-style .main-right-area,
    .home-four-style .main-left-area,
    .home-four-style .header-section,
    .home-four-style .main-right-area {
        padding-right: 30px;
        padding-left: 30px;
    }
    .home-five-style .header-section,
    .home-six-style .header-section {
        padding: 50px 0;
    }
    .info-section .hero-info ul li span {
        color: #9c9b9b;
    }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
    .hero-text h2 {
        font-size: 50px;
    }
    .hero-info ul li {
        font-size: 18px;
    }
    .hero-info ul li span {
        display: block;
    }
    .social-section .social-links a {
        margin-right: 30px;
    }
    .resume-list h2 {
        font-size: 50px;
    }
    .portfolio-item {
        margin-bottom: 30px;
    }
    .home-three-style .main-left-area,
    .home-three-style .header-section,
    .home-three-style .main-right-area,
    .home-four-style .main-left-area,
    .home-four-style .header-section,
    .home-four-style .main-right-area {
        padding-right: 15px;
        padding-left: 15px;
    }
    .home-four-style .main-left-area {
        padding-top: 250px;
    }
}

body {
    font-family: Poppins !important;
}

.background1 {
    background-color: #0a3b0a !important;
    box-shadow: 1px 1px 15px black !important;
    margin-bottom: 0px !important;
    border-bottom-style: solid !important;
    border-color: #2e372e !important;
    border-bottom-width: 2px !important;
}
.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.wrapper2 {
    min-height: 100vh;
    background-repeat: repeat;
    display: flex;
}


.textbase {
    color : white !important;
}

.fond30 {
    background-color: #0a3b0a !important;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Poppins !important;
    box-shadow: 1px 1px 15px black;
}
.lien {
    color: white !important;
    text-decoration: none;
}
.lien:hover {
    color: black;
}


footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top-width: 2px;
    border-top-style:solid;
}
article {
    margin: 20px;
}

.b1 {
    font-size: 25px;
    color: white !important;
    font-weight: bold !important;
    border-color: #FFFFFF !important;
    border-right-style: solid !important;
    border-right-width: 3px !important;
    padding-right: 10px !important;
}

.p1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    border-bottom-style: solid;
    border-color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-width: 4px;
    color: #00ad5f;
}
.p2 {
    font-size: 15px;
    color: white;
}

.p3 {
    color: white;
}

.annonce {
}

.d1 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
    flex:1;
    background-color : #FFFFFF;
    box-shadow:1px 1px 10px black;
}

.test {
    border-color: #FFFFFF;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}

.p4 {
    font-size: 40px;
    border-bottom-style: solid;
    border-color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-width: 4px;
    color: #00ad5f;
    width: 40%;
}

.menu, .sousmenu{
    text-align:center;
}
.menu{
    list-style: none;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(52, 58, 64, 0.1);
    border-radius: 5px;
}
.sousmenu{
    height:100%;
    width: 100%;
    background: white;
}
.menu a{
    display:block;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #343a40;

}
.menu a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #00ad5f;
}

.sousmenu a{
    display:block;
    width:85%;
    height:100%;
    margin-left: 7.5%;
    margin-top: 7px;
    color:#343a40;
    font-size: 20px;
    font-weight:bold;
    text-decoration:none;
    background-color: rgba(10, 10, 10, 0.15);
    border-radius: 5px;

}
.menu a:hover, .sousmenu a:hover, .menu a:active, .sousmenu a:active, .menu a:focus, .sousmenu a:focus{
}
.menu:hover{
    background-color: rgba(10, 10, 10, 0.05);
}

.div {
    width:95%;
    margin-left: 2.5%;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
    border-color: #00ad5f;
}


.btnAccueil {
    background-color:#000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    width: 10vh !important;
    height: 10vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5vh;
}
.btnAccueil:hover {
    color:#ffffff;
    text-decoration: none;
    box-shadow: 0px 10px 7px -10px white;
}

input:checked + div {
    display: block;
}
.o {
    position: absolute;
    left: -9999px;
}

.test2 {
    min-height: 100vh !important;
    width: 10.2vh !important;
    background-color: #000 !important;
    position: relative;
    float: left;
    display: none;
}

.test3 {
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: 60px;
}

.side {
    color: #fff;
    text-align: center;
    margin-right: 2px;
    border-bottom: solid;
    border-color: white;
    border-width:3px;
}

